body{
    background-color: #ede7f6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1rem;
}
.form{
    height: 110px;
    width: 600px;
    margin: auto;
    
    
}
.required{
    color: red;
    font-size: 15px;
}
.title-div{
    background-color: #FDFEFE;
    border-top: 30px solid #6703c4;
    padding: 20px;
    height: 150px;
    width: 500px;
    border-radius: 10px;
    margin: 15px;
}
.name-div{
    height: 80px;
    width: 500px;
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;

}
.college-div{
    height: 80px;
    width: 500px;
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}
.roll-div{
    height: 80px;
    width: 500px;
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}
.mail-div,.mobile-div{
    height: 80px;
    width: 500px;
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 10px;
    margin: 15px;
}

.btn{
    height: 30px;
    width: 100px;
    background-color: #6703c4;
    color: #FDFEFE;
    border-radius: 10px;
    border: none;
    position: absolute;
    margin: 20px;
    padding:10px;
    


}
.last-div{
    padding: 45px;
    text-align: center;
    padding-top: 70px;
    
   
    
   


}